---
export interface Props {
    data: any;
}

const {data} = Astro.props;
---

<div class="data-container">

    {data.map((specie) => (
        <div class="animal">
            <img src={specie.speciesImage} alt=""/>
            <div class="title">
                <h4>
                    #{specie.id}
                </h4>
                <h4>
                    {specie.name}
                </h4>
            </div>
            <div class="biome" style="background-color: #F7DE5B;">
                <h4>
                    {specie.biome}
                </h4>
            </div>
        </div>
    ))}
</div>

<style lang="scss">
    .data-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.75rem;
        .animal {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            .title {
                color: #E1F6FF;
            }
            .biome {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 9.0625rem;
                height: 1.875rem;
                border-radius: 1.125rem;
                color: black;
            }
            h4 {
                margin: 0;
            }
        }
    }
</style>
